h1 {
  color: #2761f1;
}

body {
  /* background-image: url("./images/3132.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
}

.right.floated.row {
  margin-top: 20px;
}

#container {
  margin: 20px;
  width: 200px;
  height: 100px;
}

#login-button {
  background-color: #e80aaa;
}

#calculate-button {
  background-color: #e80aaa;
}

.h1-bmr {
  font-size: 50px;
  text-align: center;
}

.h1-calories {
  font-size: 50px;
  text-align: center;
}

.message-text {
  font-style: italic;
  color: lightgreen;
}

.protein-text {
  font-size: 50px;
  text-align: center;
}

.carbs-text {
  font-size: 50px;
  text-align: center;
}

.fats-text {
  font-size: 50px;
  text-align: center;
}

#delete-account {
  font-style: red;
  margin-top: 5px;
}
